[data-theme='espresso'] {
  --text-scaling: 1.067;
  --base-font-color: var(--color-surface-700);
  --base-font-color-dark: var(--color-surface-50);
  --base-font-family: system-ui, sans-serif;
  --base-font-size: inherit;
  --base-line-height: inherit;
  --base-font-weight: normal;
  --base-font-style: normal;
  --base-letter-spacing: 0em;
  --heading-font-color: var(--color-tertiary-500);
  --heading-font-color-dark: var(--color-secondary-200);
  --heading-font-family:
    'MonoLisaText', Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro,
    sans-serif;
  --heading-font-weight: 700;
  --heading-font-style: normal;
  --heading-letter-spacing: inherit;
  --anchor-font-color: var(--color-primary-600);
  --anchor-font-color-dark: var(--color-tertiary-400);
  --anchor-font-family: inherit;
  --anchor-font-size: inherit;
  --anchor-line-height: inherit;
  --anchor-font-weight: normal;
  --anchor-font-style: normal;
  --anchor-letter-spacing: inherit;
  --anchor-text-decoration: none;
  --anchor-text-decoration-hover: underline;
  --anchor-text-decoration-active: none;
  --anchor-text-decoration-focus: none;
  --spacing: 0.25rem;
  --radius-base: 0.375rem;
  --radius-container: 0.75rem;
  --default-border-width: 1px;
  --default-divide-width: 1px;
  --default-ring-width: 1px;
  --body-background-color: oklch(1 0 0 / 1);
  --body-background-color-dark: var(--color-surface-950);
  --color-primary-50: oklch(99.55% 0.01 196.76deg);
  --color-primary-100: oklch(92.85% 0.03 269.34deg);
  --color-primary-200: oklch(86.1% 0.07 273.73deg);
  --color-primary-300: oklch(79.42% 0.1 274.67deg);
  --color-primary-400: oklch(72.78% 0.14 274.26deg);
  --color-primary-500: oklch(66.37% 0.18 273.14deg);
  --color-primary-600: oklch(59.31% 0.17 271.57deg);
  --color-primary-700: oklch(52.32% 0.17 269.51deg);
  --color-primary-800: oklch(45.1% 0.17 267.87deg);
  --color-primary-900: oklch(38.01% 0.17 265.59deg);
  --color-primary-950: oklch(30.85% 0.16 263.43deg);
  --color-primary-contrast-dark: var(--color-primary-950);
  --color-primary-contrast-light: var(--color-primary-50);
  --color-primary-contrast-50: var(--color-primary-contrast-dark);
  --color-primary-contrast-100: var(--color-primary-contrast-dark);
  --color-primary-contrast-200: var(--color-primary-contrast-dark);
  --color-primary-contrast-300: var(--color-primary-contrast-dark);
  --color-primary-contrast-400: var(--color-primary-contrast-dark);
  --color-primary-contrast-500: var(--color-primary-contrast-dark);
  --color-primary-contrast-600: var(--color-primary-contrast-light);
  --color-primary-contrast-700: var(--color-primary-contrast-light);
  --color-primary-contrast-800: var(--color-primary-contrast-light);
  --color-primary-contrast-900: var(--color-primary-contrast-light);
  --color-primary-contrast-950: var(--color-primary-contrast-light);
  --color-secondary-50: oklch(89.63% 0.1 326.37deg);
  --color-secondary-100: oklch(83.26% 0.11 329.61deg);
  --color-secondary-200: oklch(76.77% 0.13 331.94deg);
  --color-secondary-300: oklch(70.62% 0.14 334.04deg);
  --color-secondary-400: oklch(64.23% 0.15 336.05deg);
  --color-secondary-500: oklch(58.13% 0.17 338.45deg);
  --color-secondary-600: oklch(51.82% 0.16 338.83deg);
  --color-secondary-700: oklch(45.2% 0.14 338.88deg);
  --color-secondary-800: oklch(38.54% 0.13 339.5deg);
  --color-secondary-900: oklch(31.53% 0.12 339.85deg);
  --color-secondary-950: oklch(24.24% 0.1 341.1deg);
  --color-secondary-contrast-dark: var(--color-secondary-950);
  --color-secondary-contrast-light: var(--color-secondary-50);
  --color-secondary-contrast-50: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-100: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-200: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-300: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-400: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-500: var(--color-secondary-contrast-light);
  --color-secondary-contrast-600: var(--color-secondary-contrast-light);
  --color-secondary-contrast-700: var(--color-secondary-contrast-light);
  --color-secondary-contrast-800: var(--color-secondary-contrast-light);
  --color-secondary-contrast-900: var(--color-secondary-contrast-light);
  --color-secondary-contrast-950: var(--color-secondary-contrast-light);
  --color-tertiary-50: oklch(95.13% 0.07 195.96deg);
  --color-tertiary-100: oklch(89% 0.08 199.52deg);
  --color-tertiary-200: oklch(82.93% 0.09 202.55deg);
  --color-tertiary-300: oklch(76.65% 0.1 206.97deg);
  --color-tertiary-400: oklch(70.67% 0.1 209.72deg);
  --color-tertiary-500: oklch(64.77% 0.11 212.88deg);
  --color-tertiary-600: oklch(58.17% 0.1 214.43deg);
  --color-tertiary-700: oklch(51.36% 0.09 216.39deg);
  --color-tertiary-800: oklch(44.12% 0.08 221.58deg);
  --color-tertiary-900: oklch(36.77% 0.07 225.7deg);
  --color-tertiary-950: oklch(29% 0.06 231.13deg);
  --color-tertiary-contrast-dark: var(--color-tertiary-950);
  --color-tertiary-contrast-light: var(--color-tertiary-50);
  --color-tertiary-contrast-50: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-100: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-200: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-300: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-400: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-500: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-600: var(--color-tertiary-contrast-light);
  --color-tertiary-contrast-700: var(--color-tertiary-contrast-light);
  --color-tertiary-contrast-800: var(--color-tertiary-contrast-light);
  --color-tertiary-contrast-900: var(--color-tertiary-contrast-light);
  --color-tertiary-contrast-950: var(--color-tertiary-contrast-light);
  --color-success-50: oklch(93.73% 0.13 135.56deg);
  --color-success-100: oklch(87.53% 0.14 136.83deg);
  --color-success-200: oklch(81.28% 0.15 137.92deg);
  --color-success-300: oklch(75.02% 0.16 138.87deg);
  --color-success-400: oklch(68.75% 0.17 139.69deg);
  --color-success-500: oklch(62.5% 0.18 140.44deg);
  --color-success-600: oklch(55.7% 0.16 140.71deg);
  --color-success-700: oklch(48.98% 0.14 141.2deg);
  --color-success-800: oklch(41.76% 0.12 141.45deg);
  --color-success-900: oklch(34.52% 0.11 142.13deg);
  --color-success-950: oklch(26.44% 0.09 142.5deg);
  --color-success-contrast-dark: var(--color-success-950);
  --color-success-contrast-light: var(--color-success-50);
  --color-success-contrast-50: var(--color-success-contrast-dark);
  --color-success-contrast-100: var(--color-success-contrast-dark);
  --color-success-contrast-200: var(--color-success-contrast-dark);
  --color-success-contrast-300: var(--color-success-contrast-dark);
  --color-success-contrast-400: var(--color-success-contrast-dark);
  --color-success-contrast-500: var(--color-success-contrast-light);
  --color-success-contrast-600: var(--color-success-contrast-light);
  --color-success-contrast-700: var(--color-success-contrast-light);
  --color-success-contrast-800: var(--color-success-contrast-light);
  --color-success-contrast-900: var(--color-success-contrast-light);
  --color-success-contrast-950: var(--color-success-contrast-light);
  --color-warning-50: oklch(97.87% 0.12 108.45deg);
  --color-warning-100: oklch(92.37% 0.12 100.01deg);
  --color-warning-200: oklch(87.03% 0.13 92.6deg);
  --color-warning-300: oklch(81.65% 0.14 84.21deg);
  --color-warning-400: oklch(76.48% 0.14 76.7deg);
  --color-warning-500: oklch(71.4% 0.15 67.77deg);
  --color-warning-600: oklch(64.17% 0.14 64.59deg);
  --color-warning-700: oklch(56.76% 0.13 60.67deg);
  --color-warning-800: oklch(49.33% 0.11 56.4deg);
  --color-warning-900: oklch(41.49% 0.11 50.43deg);
  --color-warning-950: oklch(33.42% 0.1 44.18deg);
  --color-warning-contrast-dark: var(--color-warning-950);
  --color-warning-contrast-light: var(--color-warning-50);
  --color-warning-contrast-50: var(--color-warning-contrast-dark);
  --color-warning-contrast-100: var(--color-warning-contrast-dark);
  --color-warning-contrast-200: var(--color-warning-contrast-dark);
  --color-warning-contrast-300: var(--color-warning-contrast-dark);
  --color-warning-contrast-400: var(--color-warning-contrast-dark);
  --color-warning-contrast-500: var(--color-warning-contrast-dark);
  --color-warning-contrast-600: var(--color-warning-contrast-light);
  --color-warning-contrast-700: var(--color-warning-contrast-light);
  --color-warning-contrast-800: var(--color-warning-contrast-light);
  --color-warning-contrast-900: var(--color-warning-contrast-light);
  --color-warning-contrast-950: var(--color-warning-contrast-light);
  --color-error-50: oklch(81.18% 0.11 17.52deg);
  --color-error-100: oklch(74.73% 0.14 14.61deg);
  --color-error-200: oklch(68.66% 0.16 13.61deg);
  --color-error-300: oklch(63.17% 0.19 14.52deg);
  --color-error-400: oklch(58.55% 0.21 16.42deg);
  --color-error-500: oklch(55.05% 0.22 19.81deg);
  --color-error-600: oklch(49.65% 0.19 20.67deg);
  --color-error-700: oklch(44.29% 0.17 22.21deg);
  --color-error-800: oklch(38.56% 0.15 23.6deg);
  --color-error-900: oklch(32.78% 0.13 25.71deg);
  --color-error-950: oklch(26.39% 0.11 29.23deg);
  --color-error-contrast-dark: var(--color-error-950);
  --color-error-contrast-light: var(--color-error-50);
  --color-error-contrast-50: var(--color-error-contrast-dark);
  --color-error-contrast-100: var(--color-error-contrast-dark);
  --color-error-contrast-200: var(--color-error-contrast-dark);
  --color-error-contrast-300: var(--color-error-contrast-dark);
  --color-error-contrast-400: var(--color-error-contrast-dark);
  --color-error-contrast-500: var(--color-error-contrast-light);
  --color-error-contrast-600: var(--color-error-contrast-light);
  --color-error-contrast-700: var(--color-error-contrast-light);
  --color-error-contrast-800: var(--color-error-contrast-light);
  --color-error-contrast-900: var(--color-error-contrast-light);
  --color-error-contrast-950: var(--color-error-contrast-light);
  --color-surface-50: oklch(90.64% 0.01 267.4deg);
  --color-surface-100: oklch(85.79% 0.01 271.31deg);
  --color-surface-200: oklch(80.91% 0.02 274.81deg);
  --color-surface-300: oklch(75.63% 0.02 276.88deg);
  --color-surface-400: oklch(70.59% 0.03 278.21deg);
  --color-surface-500: oklch(65.43% 0.03 278.8deg);
  --color-surface-600: oklch(56.96% 0.03 278.01deg);
  --color-surface-700: oklch(48.24% 0.03 279.78deg);
  --color-surface-800: oklch(38.74% 0.02 282.02deg);
  --color-surface-900: oklch(29.02% 0.02 284.98deg);
  --color-surface-950: oklch(18.28% 0.02 284.22deg);
  --color-surface-contrast-dark: var(--color-surface-950);
  --color-surface-contrast-light: var(--color-surface-50);
  --color-surface-contrast-50: var(--color-surface-contrast-dark);
  --color-surface-contrast-100: var(--color-surface-contrast-dark);
  --color-surface-contrast-200: var(--color-surface-contrast-dark);
  --color-surface-contrast-300: var(--color-surface-contrast-dark);
  --color-surface-contrast-400: var(--color-surface-contrast-dark);
  --color-surface-contrast-500: var(--color-surface-contrast-dark);
  --color-surface-contrast-600: var(--color-surface-contrast-dark);
  --color-surface-contrast-700: var(--color-surface-contrast-light);
  --color-surface-contrast-800: var(--color-surface-contrast-light);
  --color-surface-contrast-900: var(--color-surface-contrast-light);
  --color-surface-contrast-950: var(--color-surface-contrast-light);
}
